#editor-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  
}
#editor-contextmenu{
  position: absolute;
  background: white;
  border:1px solid lightgray;
  font-size: 18px;
}
#editor-contextmenu .editor-contextmenu-option{
  width: 300px;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}
#editor-contextmenu .editor-contextmenu-option:hover{
  background: lightgray;
}
